server:
    port: 8080
    servlet:
        context-path: "/"

spring:
    thymeleaf:
        cache: false
        prefix: classpath:templates/
        suffix: .html
        mode: HTML
        servlet:
            content-type: text/html
        encoding: UTF-8
    datasource:
        name: mysql_test
        type: com.alibaba.druid.pool.DruidDataSource
        #druid相关配置
        druid:
            #监控统计拦截的filters
            filters: stat
            driver-class-name: com.mysql.cj.jdbc.Driver
            #基本属性
            url: jdbc:mysql://127.0.0.1:3306/xianyu?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=GMT%2B8
            username: root
            password: YTJc++1314
            
            #配置初始化大小/最小/最大
            initial-size: 1
            min-idle: 1
            max-active: 20
            #获取连接等待超时时间
            max-wait: 60000
            #间隔多久进行一次检测，检测需要关闭的空闲连接
            time-between-eviction-runs-millis: 60000
            #一个连接在池中最小生存的时间
            min-evictable-idle-time-millis: 300000
            validation-query: SELECT 'x'
            test-while-idle: true
            test-on-borrow: false
            test-on-return: false
            #打开PSCache，并指定每个连接上PSCache的大小。oracle设为true，mysql设为false。分库分表较多推荐设置为false
            pool-prepared-statements: false
            max-pool-prepared-statement-per-connection-size: 20
mybatis:
#    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.example.xinayuserver.entity
    configuration:
        map-underscore-to-camel-case: true


#pagehelper
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql
    returnPageInfo: check


# 日志配置, 默认 spring web是 info
logging:
    config: classpath:logback-config.xml
    level:
        org:
            springframework:
                boot: INFO
                web: DEBUG
            mybatis: INFO
# 设置debug: true 就可以在启动程序使用 --debug 设置日志级别了
debug: true



